*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: black;
     background-size: 100%;
     background-image: url(../img/fundo2.png);
 } 


.logo-stargeek {
    display: block;
    width: 333.95px;
    height: 130.71px;
    left: 26px;
    top: 24px;
}

.fundo-png {
  
    width: 1291px;
    height: 853px;
    background-repeat: no-repeat;
}

.div-1 {
    margin: 0% auto; 
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 600px;
    background: rgba(156, 154, 154, 0.264);
}

h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #FDB002;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.campos {
    color: white;
    font-size: 15px;
    width: 500px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(217, 217, 217, 0.264);
    padding-left: 15px;
    border: none;

}

.div {
    color: white;
    font-size: 20px;
    text-align: left;
}

.checkbox {
    margin-top: 5px;
    border: 1px solid black;
    display: inline-block;
    width: 55px;
    height: 20px;
   
}

span{
    color: white;
    font-size: 15px;
    
}

::placeholder {
    color: rgb(144, 138, 138);
}

p, .assine {
    margin-top: 10px;
    color: white;
    text-align: center;
}

.assine {
    color: #FDB002;
    margin-top: 100px;
}


.campos:hover {
    background-color: rgba(128, 128, 128, 0.652);
}

.cadastro {
    margin-top: 60px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
  
}

.type {
    color: white;
}

.botao {
    margin: 0% auto;
    text-align: center;
    margin-top: 50px;
    color: white;
    text-decoration: none;
    width: 300px;
    height: 40px;  
    background: rgba(253, 176, 2, 0.76);
}

.botao1 {
    text-decoration: none;
    margin: 0% auto;
    margin-top: 20px;
    padding: 20px 60px;
    background: rgba(217, 217, 217, 0.264);
    box-shadow: 0px 1px 1px 1px rgba(58, 57, 57, 0.68);
}

a {
    margin-top: ;
    color: rgb(144, 138, 138);
}

.botao1:hover {
    background-color: rgba(128, 128, 128, 0.652);
}

.botao:hover {
    background-color: rgba(232, 197, 114, 0.76);
}

a, .continue {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.fundo-loja {
     background: #04112C;

}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    color: #FDB002;
}

.loja {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inscreva-se > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.61);
    font-size: 15px;
    background: rgba(217, 217, 217, 0.264);
    padding-left: 15px;
    border: none;
   
}