*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: black;
     background-size: 100%;
     background-image: url(../img/fundo2.png);
 } 


.logo-stargeek {
    display: block;
    width: 333.95px;
    height: 130.71px;
    left: 26px;
    top: 24px;
}

.fundo-png {
  
    width: 1291px;
    height: 853px;
    background-repeat: no-repeat;
}

.div-1 {
    margin: 0% auto; 
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 600px;
    background: rgba(156, 154, 154, 0.264);
}

h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #FDB002;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.campos {
    color: white;
    font-size: 15px;
    width: 500px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(217, 217, 217, 0.264);
    padding-left: 15px;
    border: none;

}

.div {
    color: white;
    font-size: 20px;
    text-align: left;
}

.checkbox {
    margin-top: 5px;
    border: 1px solid black;
    display: inline-block;
    width: 55px;
    height: 20px;
   
}

span{
    color: white;
    font-size: 15px;
    
}

::placeholder {
    color: rgb(144, 138, 138);
}

p, .assine {
    margin-top: 10px;
    color: white;
    text-align: center;
}

.assine {
    color: #FDB002;
    margin-top: 100px;
}


.campos:hover {
    background-color: rgba(128, 128, 128, 0.652);
}

.cadastro {
    margin-top: 60px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    margin-left: 20px;
    margin-right: 20px;

  
}

.type {
    color: white;
}

.botao {
    margin: 0% auto;
    margin-top: 50px;
    color: white;
    text-decoration: none;
    width: 300px;
    height: 40px;  
    background: rgba(253, 176, 2, 0.76);
    padding-top: 10px;
}

.botao1 {
    text-decoration: none;
    margin: 0% auto;
    margin-top: 20px;
    padding: 20px 60px;
    background: rgba(217, 217, 217, 0.264);
    box-shadow: 0px 1px 1px 1px rgba(58, 57, 57, 0.68);
}

a {
    margin-top: 10px;
    color: rgb(144, 138, 138);
}

.botao1:hover {
    background-color: rgba(128, 128, 128, 0.652);
}

.botao:hover {
    background-color: rgba(232, 197, 114, 0.76);
}

a, .continue {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.fundo-loja {
     background: #04112C;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 45px;
    color: #FDB002;
    margin-top: 30px;
}

.p-1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inscreva-se {
    background: rgba(217, 217, 217, 0.24);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 70px;
    
}

.Saiba-mais {
      background: #FDB002;
      border-radius: 10px;
      text-decoration: none;  
      padding: 10px 10px;    
}

.botoes2 {
    text-align: center;
    margin-top: 80px;  
}

hr {
    border: none;
    height: 5px;
    background: linear-gradient(90deg, rgba(150,116,7,0) 1%, rgba(253,176,2,1) 49%, rgba(150,142,7,0) 99%);
    margin-top: 20px;
}

.loja {
    text-align: right;
    position: relative;
}

.Camiseta {
    margin-top: 40px;
    width: 290px;
    height: 300px;
}

.blur-azul {
    z-index: -1;
    position: absolute;
    background: #6078ac;
    filter: blur(100px);
    height: 250px;
    width: 200px;
    top: 0;
    right: 0;
}

.div-3 {
    text-align: left;
    position: relative;
}

.blur-2 {
    z-index: -1;
    position: absolute;
    background: #6078ac;
    filter: blur(100px);
    height: 250px;
    width: 200px;
    bottom: 0;
    left: 0;
}

.itens-2 {
    margin-top: 40px;
    margin-left: 20px;
    width: 290px;
    height: 300px;
}

.itens-3 {
    margin-top: 50px;
    margin-left: 30px;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.cabecalho {
    background: rgba(0, 0, 0, 0.44);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.menu {
    text-align: center;
}

.sair {
    background: rgba(217, 217, 217, 0.173);
    text-decoration: none;
    padding: 10px 30px ;
    color: #FDB002;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-1 {
    color: white;
}

.botao-catalogo {
    align-items: center;
    text-decoration: none;
    padding: 10px ;
    background: rgba(217, 217, 217, 0.16);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    
}

.botao-amarelo{
    color: #FDB002;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botoes-saiba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-laranja {
    text-decoration: none;
    color: #FDB002;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 50px ;
    background: rgba(217, 217, 217, 0.16);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    margin-top: 100px;
    max-width: 400px;
    min-width: 400px; 
}

.botao-entrar {
    background-color: rgba(104, 103, 107, 0.437);
    color: white;
    padding: 10px 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-entrar:hover {
    background-color: #a4a7ae53;
}

.fa-user-o {
    padding-right: 10px;
}

.fa-caret-down {
    padding-left: 10px;
}

.capa {
    display: flex;
    gap: 10px;
}

li {
    list-style-type: none;
}

.fa-list-ul {
  color: white;
    width: 40px;
}

.fa-search {
    color: white;
    width: 30px;
}

.capa-h2 {
    margin-top: 300px;
    text-align: center;
}

.filmes-series {
    display: flex;
    overflow: scroll;
    margin-top: 30px;
}

.filmes-series::-webkit-scrollbar {
    display: none;
}

.fileira-1::-webkit-scrollbar {
    display: none;
}

.fileira-2::-webkit-scrollbar {
    display: none;
}

.fileira-3::-webkit-scrollbar {
    display: none;
}

.fileira-4::-webkit-scrollbar {
    display: none;
}

.fileira-5::-webkit-scrollbar {
    display: none;
}

.fileira-6::-webkit-scrollbar {
    display: none;
}

.fileira-1 > img {
    height: 190px;
    transition: all 500ms;
}
.fileira-1 img:hover{
    height: 190px;
    transform: scale(1.1);
}

.fileira-2 > img {
    height: 190px;
    transition: all 500ms;
}

.fileira-2 > img:hover {
    height: 190px;
    transform: scale(1.1);
}

.fileira-3 > img{
    height: 190px;
    transition: all 500ms;
}

.fileira-3 > img:hover{
    height: 190px;
    transform: scale(1.1);
}

.fileira-4 > img {
    height: 190px;
    transition: all 500ms;
}


.fileira-4 > img:hover {
    height: 190px;
    transform: scale(1.1);
}

.fileira-5 > img  {
    height: 190px;
    transition: all 500ms;
}

.fileira-5 > img:hover {
    transform: scale(1.1);
}

.fileira-6 > img {
    height: 190px;
    transition: all 500ms;
}

.fileira-6 > img:hover {
    transform: scale(1.1);
}
.stranger-things:hover {
    content: url(/img/gifstranger.gif);
}
.toy-story:hover {
    content: url(/img/giftoystory.gif);
}

.outer-banks:hover {
    content: url(/img/gifouter-banks-obx.gif);
}

.insatiable:hover {
    content: url(/img/gifinsatiable.gif);
}

